/*
  Aplicações Multimédia
  Cláudio Barradas, 2019
*/

@font-face {
    font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
     url('PressStart2P-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    background-color: #222;
}


.cell {
    position: absolute;
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(images/tileset.png);
}

.empty {
    background-image: none!important;
}

.floor {
    background-position: 0px 0px;
}

.wall {
    background-position: -32px 0px;
}

.stairsS {
    background-position: -64px 0px;
}

.stairsE {
    background-position: -96px 0px;
}

.key {
    background-position: -128px 0px;
}

.stoneLock {
    background-position: -160px 0px;
}

.iceStone {
    background-position: -192px 0px;
}

.question {
    background-position: -224px 0px;
}

.bones {
    background-position: -128px -32px;
}

.doorLock {
    background-position: -160px -32px;
}


/*-------------------------------------------------------*/

.actor {
    background-image: url(images/hero_a.png)!important;
}

.enemy {
    background-image: url(images/enemy_a.png)!important;
}

.down {
    transform: rotate(180deg);
}

.right {
    transform: rotate(90deg);
}

.left {
    transform: rotate(-90deg);
}


/*
---- Animação -----------------------------------------
 exemplo de uso: por um objecto a piscar devagar: class="animated blink slow"
*/

.animated.walk {
    animation: walking 1s steps(8) infinite;
}

.animated.blink {
    animation: fadeinout alternate 1s infinite;
}

.fast {
    animation-duration: 0.1s!important;
}

.slow {
    animation-duration: 1.5s!important;
}

.animated.fadeout {
    animation: fade 1s reverse forwards;
}

.animated.fadein {
    animation: fade 1s forwards;
}

@keyframes fadeinout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes walking {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -256px 0px;
    }
}


/*
https://developer.mozilla.org/en-US/docs/Web/CSS/filter
Filtros: 
exemplo: para desfocar qualquer elemento basta addicionar a class blurred; os colorize mudam a cor de um elemento  


*/

.blurred {
    filter: blur(1px)
}

.colorize240 {
    filter: hue-rotate(240deg);
}

.colorize120 {
    filter: hue-rotate(120deg);
}

.colorize60 {
    filter: hue-rotate(60deg);
}

/* */

#stage {
    position: relative;
    width: 608px;
    height: 640px;
    display: block;
    margin: auto;
    -webkit-box-shadow: 10px 10px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 9px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 9px 1px rgba(0, 0, 0, 0.75);
    border:thin whitesmoke solid; /* comentar quando as imagens forem colocadas*/
    background-color: #555;
}

#infoPanel{
    position: relative;
    width: 598px;
    height: 50px;
    display: block;
    margin: auto;
    background-color:darkgrey;
    -webkit-box-shadow: 10px 10px 9px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 9px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 9px 1px rgba(0, 0, 0, 0.75);
    border:5px gold solid;
    border-radius: 5px;
}

#side-panel {
    position: absolute;
    width: 275px;
    height: 400px;
    display: block;
    margin: auto;
    border: 1px solid #d02718;
    background-color: lightgrey;
    color: black;
    box-shadow: 10px 10px 9px 1px rgba(245, 96, 96, 0.507);
}

#inner-side-panel {
    margin: 10px;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

#side-panelPoints {
    font-size: 15px;
}


.startModal {
    display: block;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.startModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Press Start 2P', cursive;
}

.endModal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.endModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Press Start 2P', cursive;
}

.myButton {
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    background-color: #c62d1f;
    border-radius: 18px;
    border: 1px solid #d02718;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
}

.myButton:hover {
    background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color: #f24437;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.volumeButton {
  
	background:linear-gradient(to bottom, #999999 5%, #cccccc 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.volumeButton:hover {
	background:linear-gradient(to bottom, #919191 5%, #8b8b8b 100%);
	background-color:#808080;
}

.volumeButton:active {
	position:relative;
	top:1px;
}

